*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: 0;
    border: transparent;
    box-shadow: none;
}

body{
    background-image: linear-gradient(120deg,#f6d365, #fda085);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    color: white;
}
/* use rem instead of pixel for size and spacing scalability, em for media queries*/
header {
    font-size: 1.5rem;
}

header,form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}
/*adds hover effects to button */
form button {
    color: #ff6f47;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #ff6f47;
    color: white;
}
/* gets rid of black border for button click*/
button:visited, button:active, button:focus {
    outline: 0;
    text-decoration: none;
    box-shadow: none;
}

/* gets rid of black border for form */
input:focus, textarea:focus, select:focus{
    outline: 0;
}


.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none; /* gets rid of the bullet points */
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}
/*pushes the icons next to each other*/
.todo li {
    flex: 1;
}

.todo-item {
    /* pad left 0.5 */
    padding: 0rem 0.5rem;
}

.trash-btn, .complete-btn {
    background: #ff6f47;
    color: white;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    border: none;
}

.complete-btn {
    background: rgb(19, 207, 45);
}

/* allows clicking through the trash and check icons */
.fa-trash, .fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

/* adding a fall effect to the todo item */
.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    box-shadow: none;
    color: #ff6f47;
    width: 10rem;
    cursor: pointer;
    border: transparent;
    padding: 1rem;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

/* adding pseudo-element*/
.select::after{
    content: "\25BC"; /* adds a drop down triangle */
    position: absolute;
    background: #ff6f47; 
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
}

.select:hover::after{
    background: white;
    color: #ff6f47;
    transition: all 0.3s ease;
}

